@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    /* border: 1px solid red; */
}

:root {
    font-size: 62.5%;

    --bg-main: #f5feff;
    --fg-main: #303030;
    --hue: 194;
    --fg-button: hsl(0, 80%, 52%);
    --primary-color: hsl(var(--hue), 100%, 63%); /* sky blue */
    --bg-odd-row: hsl(var(--hue), 0%, 93%); /* light grey */
    --bg-even-row: hsl(var(--hue), 0%, 92%); /* almost white */
    --fg-input-border: hsl(var(--hue), 0%, 92%); /* light grey */
}

body {
    font-size: 1.6rem;
    color: var(--fg-main);
}

#app {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;
    /* padding: 1rem 0; */
}

/* Desaparece com o label, mas sem atrapalhar o display reader */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.search{
    display: flex;
    align-items: center;
}

.search input {
    height: 3.2rem;
    border: 1px solid var(--fg-input-border);
    border-radius: .4rem 0 0 .4rem;
    padding: 0 .8rem;
}

.search button {
    padding: 1rem;
    height: 3.2rem;
    background: var(--primary-color);
    border: none;
    border-radius: 0 .4rem .4rem 0;
    padding: 0 1rem;
    cursor: pointer;
}

.search button:hover {
    filter: brightness(1.1);
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
    font-size: 1.4rem;
    color: var(--fg-main);

}

table th{
    background: var(--primary-color);
    text-align: start;
    font-weight: normal;
    padding: 1.5rem;    
}

table th:first-child {
    border-top-left-radius: .4rem;
}

table th:last-child {
    border-top-right-radius: .4rem;
}

table tr:nth-child(odd) {
    background: var(--bg-odd-row);
}

table td {
    padding: 1.5rem;
    text-align: start;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50px;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    background: none;
    border: none;
    color:  var(--fg-button);
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
}